[mysqld]
server_id=@@SERVER_ID@@
report_host=@@HOSTNAME@@
performance_schema=ON
binlog_transaction_dependency_tracking=WRITESET
enforce_gtid_consistency=ON
gtid_mode=ON
log_bin=binlog
binlog_format=ROW
log_slave_updates=ON
transaction_write_set_extraction=XXHASH64
master_info_repository=TABLE
relay_log_info_repository=TABLE
binlog_checksum=NONE
bind-address=::